body {
	background-color: #f0f0f0; /* Background color */
}

#header {
	background-color: #fff; /* Header background color */
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin: 20px auto;
	max-width: 400px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for header */
}

#titleHeader {
	color: #007bff; /* Title color */
}

h1 {
	text-align: center;
	margin-top: 50px;
}

.col-sm-6 {
	background-color: #fff; /* Column background color */
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for columns */
}

label {
	color: #333; /* Label text color */
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	color: #333;
	margin-bottom: 10px;
}

#SubmitForm {
	background-color: #007bff; /* Button background color */
	color: #fff; /* Button text color */
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

#SubmitForm:hover {
	background-color: #0056b3; /* Hover color */
}

p {
	text-align: center;
}

p a {
	color: #007bff; /* Link color */
}